<!--Begin pricing section-->
<div id="package" class="section grey text-center m-t-60 p-t-40 p-b-40">
  <h2 class="normal m-b-10">
    Sportly Games Packages</h2>
</div>
<div class="section white">
  <div class="container p-t-50 p-b-50">
    <div class="p-t-10">
      <div class="pricing t-mgr40">
        <div class="col-sm-4">
          <div class="plan active">
            <h3>
              Weekday</h3>
            <h4>
              <span class="amount"><span>₹</span>1200<span>/mo</span></span></h4>
            <div>
              <ul>
                <li>1 hour/day</li>
                <li>Monday - Friday</li>
                <li>Intermediate players</li>
              </ul>
            </div>
            <div class="select">
              <div>
                <a class="btn btn-info" href="https://play.google.com/store/apps/details?id=com.playpal.playpalapp"
                  target="_blank">Sign me up <i class="arrow_right">→</i></a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="plan">
            <h3>
              Weekend</h3>
            <h4>
              <span class="amount"><span>₹</span>800<span>/mo</span></span></h4>
            <div>
              <ul>
                <li>1 hour/day</li>
                <li>Saturday & Sunday</li>
                <li>Intermediate players</li>
              </ul>
            </div>
            <div class="select">
              <div>
                <a class="btn btn-info" href="https://play.google.com/store/apps/details?id=com.playpal.playpalapp"
                  target="_blank">Sign me up <i class="arrow_right">→</i></a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="plan">
            <h3>
              Everyday</h3>
            <h4>
              <span class="amount"><span>₹</span>1800<span>/mo</span></span></h4>
            <div>
              <ul>
                <li>1 hour/day</li>
                <li>All days</li>
                <li>Intermediate players</li>
              </ul>
            </div>
            <div class="select">
              <div>
                <a class="btn btn-info" href="https://play.google.com/store/apps/details?id=com.playpal.playpalapp"
                  target="_blank">Sign me up <i class="arrow_right">→</i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End pricing section-->
