<!--Begin Testinomial section-->
<div id="testimonial" class="section grey">
  <div class="container">
    <div class="p-t-60 p-b-50">
      <div class="head_title text-center fix">
        <h2 class="text-uppercase text-black">Players says:</h2>
      </div>
      <div id="testomonials" class="owl-carousel row">
        <div class="item">
          <div class="col-md-6  col-md-offset-3 text-center">
            <div class="testimonial-thumb">
              <img src="assets/img/testimonial_img1.png" alt="testimonal">
            </div>
            <div class="testimonial-user">
              <span>Abhijeet Gairola</span>
            </div>
            <h3 class="semi-bold text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.
            </h3>
          </div>
        </div>
        <div class="item">
          <div class="col-md-6   col-md-offset-3 text-center">
            <div class="testimonial-thumb">
              <img src="assets/img/testimonial_img2.png" alt="testimonal">
            </div>
            <div class="testimonial-user">
              <span>Manas mallik</span>
            </div>
            <h3 class="semi-bold text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.
            </h3>
          </div>
        </div>
        <div class="item">
          <div class="col-md-6   col-md-offset-3 text-center">
            <div class="testimonial-thumb">
              <img src="assets/img/testimonial_img1.png" alt="testimonal">
            </div>
            <div class="testimonial-user">
              <span>Rahul</span>
            </div>
            <h3 class="semi-bold text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End testinomial section-->
